parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     {{app_name}}_db
    database_user:     {{app_user}}
    database_password: {{ app_database_password }}

    mailer_host:       127.0.0.1
    mailer_transport:  smtp
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            {{app_secret_key}}
